@pls: .yee-tooltip;

@{pls} {
  padding: var(--yee-tooltip-padding);
  color: var(--yee-tooltip-font-color);
  background-color: var(--yee-tooltip-bg-color);
  border-radius: var(--yee-tooltip-border-radius);

  &-arrow {
    &::after {
      position: absolute;
      bottom: 0;
      z-index: 0;
      width: var(--yee-tooltip-arrow-width);
      height: var(--yee-tooltip-arrow-height);
      margin: auto;
      background-color: var(--yee-tooltip-bg-color);
      border-radius: var(--yee-tooltip-arrow-border-radius);
      box-shadow: var(--yee-box-shadow-popover-arrow);
      transform: translateY(var(--yee-tooltip-arrow-translate-y))
        rotate(var(--yee-tooltip-arrow-rotate));
      content: '';
      inset-inline: 0;
    }
  }
}
