@pls: .yee-table-select;

@{pls}-popup {
    background-color: var(--yee-table-select-container-bg-color);
    border-radius: 4px;
    margin: 0;
    padding: 12px 0;

    .rb-table-select__radio {
        padding: 0 12px;
        margin-bottom: 16px;
    }
}

.rb-table-select {
    margin-bottom: 0;

    .rb-table-footer-operate {
        padding: 0 12px;
    }
}