@pls: .yee-select;

@{pls} {
  &-popup {
    padding: var(--yee-select-popup-padding);
    background-color: var(--yee-select-down-container-bg-color);
    max-height: var(--yee-select-popup-max-height, 200px);
    overflow: auto;
  }

  &-option {
    display: flex;
    padding: var(--yee-select-option-padding);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &-content {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:not(&-disabled):hover {
      background-color: var(--yee-select-option-hover-bg-color);
    }

    &-selected {
      color: var(--yee-select-option-active-color);
      background-color: var(--yee-select-option-active-bg-color);
    }

    &-focused:not(&-selected) {
      background-color: var(--yee-select-option-active-bg-color);
    }
  }

  &-empty {
    padding: var(--yee-select-option-padding);
  }
}
