@pls: .yee-btn;

@{pls} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--yee-btn-height);
  margin: 0;
  white-space: nowrap;
  padding: var(--yee-btn-padding);
  font-size: var(--yee-btn-font-size);
  line-height: var(--yee-btn-line-height);
  background-color: var(--m-btn-bg-color);
  border: none;
  border-radius: var(--yee-btn-border-radius);
  cursor: pointer;
  transition:
    background-color 0.2s linear,
    color 0.2s linear;

  &-loading {
    display: inline-flex;
    margin-inline-end: var(--yee-btn-loading-margin-inline-end);
    cursor: default;
  }

  // 变体
  &-link {
    color: var(--m-btn-color);
    background-color: transparent;
    border: none;

    &:not(@{pls}-disabled):hover {
      color: var(--m-btn-hover-color);
    }
  }

  &-text {
    color: var(--m-btn-color);
    background-color: transparent;
    border: none;

    &:not(@{pls}-disabled):hover {
      background-color: var(--m-btn-hover-bg-color);
    }

    &:not(@{pls}-disabled):active {
      background-color: var(--m-btn-active-bg-color);
    }
  }

  &-dashed {
    color: var(--m-btn-color);
    background-color: transparent;
    border: var(--yee-btn-border-width) dashed var(--m-btn-border-color);

    &:not(@{pls}-disabled):hover {
      color: var(--m-btn-hover-color);
      border-color: var(--m-btn-hover-color);
    }
  }

  // 背景颜色，字体白色
  &-solid {
    color: var(--yee-btn-primary-color);
    background-color: var(--m-btn-color);

    &:not(@{pls}-disabled):hover {
      background-color: var(--m-btn-hover-color);
    }

    &:not(@{pls}-disabled):active {
      background-color: var(--m-btn-active-color);
      box-shadow: var(--yee-btn-solid-active-box-shadow);
    }
  }

  // 字体颜色，背景是字体颜色的浅色
  &-filled {
    color: var(--yee-btn-primary-color);
    background-color: var(--m-btn-color);
  }

  &-outlined {
    color: var(--m-btn-color);
    background-color: transparent;
    border: var(--yee-btn-border-width) solid var(--m-btn-border-color);

    &:not(@{pls}-disabled) {
      &:hover {
        color: var(--m-btn-hover-color);
        border-color: var(--m-btn-border-hover-color);
      }

      &:active {
        color: var(--m-btn-active-color);
        border-color: var(--m-btn-border-active-color);
      }
    }
  }

  &-ghost {
    border-style: none;
  }

  // --------- 形状  -----------
  &-circle {
    min-width: var(--yee-btn-circle-min-width);
    border-radius: 50%;
  }

  &-round {
    border-radius: var(--yee-btn-round-shape, 12px);
  }

  &-icon {
    display: inline-flex;
    gap: var(--yee-btn-icon-gap);

    &-only {
      width: var(--yee-btn-icon-only-width, 32px);
    }
  }

  // ----- size ------
  &-sm {
    height: var(--yee-btn-sm-height, 24px);
    padding: var(--yee-btn-sm-padding, 4px);
    font-size: var(--yee-btn-sm-font-size, 14px);

    &@{pls}-icon-only {
      width: var(--yee-btn-sm-icon-only-size, 24px);
    }
  }

  &-lg {
    height: var(--yee-btn-lg-height, 40px);
    padding: var(--yee-btn-lg-padding, 7px 15px);
    font-size: var(--yee-btn-lg-font-size, 16px);
  }

  &-block {
    width: 100%;
  }

  // ---- color ------
  &-default {
    --m-btn-color: var(--yee-text-color);
    --m-btn-hover-color: var(--yee-primary-color);
    --m-btn-border-color: var(--yee-border-color);
    --m-btn-border-hover-color: var(--yee-primary-color);
    --m-btn-bg-color: var(--yee-btn-default-bg-color);
    --m-btn-hover-bg-color: var(--yee-text-color-auxiliary);
    --m-btn-border-active-color: var(--yee-primary-color-active);
    --m-btn-active-color: var(--yee-primary-color-active);
    --m-btn-active-bg-color: var(--yee-text-color-auxiliary);
  }

  &-primary {
    --m-btn-color: var(--yee-primary-color);
    --m-btn-hover-color: var(--yee-primary-color-hover);
    --m-btn-active-color: var(--yee-primary-color-active);
    --m-btn-bg-color: var(--yee-btn-success-bg-color);
    --m-btn-hover-bg-color: var(--yee-btn-success-bg-color);
    --m-btn-active-bg-color: var(--yee-btn-success-bg-color);
  }

  &-success {
    --m-btn-color: var(--yee-btn-success-color);
  }

  &-danger {
    --m-btn-color: var(--yee-btn-danger-color);
  }

  &-warning {
    --m-btn-color: var(--yee-btn-warning-color);
  }

  &-disabled {
    cursor: not-allowed;
    opacity: var(--yee-btn-disabled-opacity);
  }
}
