@pls: .yee-popover;

@{pls} {
    max-width: var(--yee-popover-max-width);
    padding: var(--yee-popover-padding);
    color: var(--yee-color-text);
    background-color: var(--yee-popover-bg-color);
    border-radius: var(--yee-popover-border-radius);

    &-header {
        margin-bottom: var(--yee-popover-header-margin-bottom);
        font-weight: var(--yee-popover-header-font-weight);
        font-size: var(--yee-popover-header-font-size);
        line-height: var(--yee-popover-header-line-height);
        background-color: var(--yee-popover-header-bg-color);
    }
}