@pls: .yee-input-number;

@{pls} {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: var(--yee-input-height, 32px);
  padding: var(--yee-input-padding, 2px 8px);
  font-size: var(--yee-input-font-size);
  line-height: var(--yee-input-line-height);
  border: var(--yee-input-border-width) solid var(--yee-input-border-color);
  border-radius: var(--yee-input-border-radius, 4px);
  background-color: var(--yee-input-content-bg-color);
  transition: all 0.3s;

  &:not(@{pls}-disabled):hover {
    border-color: var(--yee-input-hover-border-color);
  }

  &:not(@{pls}-disabled):not(@{pls}-borderless)&-focused {
    box-shadow: 0 0 0 2px var(--yee-input-focus-bs-color);
    border-color: var(--yee-input-hover-border-color);
  }

  &-prefix {
    display: inline-flex;
    align-items: center;
    margin-right: 4px;
    color: var(--yee-text-color-description);
  }

  &-suffix {
    display: inline-flex;
    align-items: center;
    height: 100%;
    gap: var(--yee-input-suffix-gap, 4px);
    margin-left: 4px;
  }

  &-borderless {
    border: none;
    box-shadow: none;
  }

  &-inner {
    flex: 1;
    width: 100%;
    min-width: 0;
    line-height: var(--yee-input-line-height);
    background-color: transparent;
    border: none;
    outline: none;
    
    &::placeholder {
      color: var(--yee-placeholder-color);
    }
  }

  &-clear {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--yee-input-clear-padding, 2px);
    color: var(--yee-input-clear-color, rgba(0, 0, 0, 0.25));
    background-color: var(--yee-input-clear-bg-color, transparent);
    border-radius: 50%;
    visibility: hidden;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: var(--yee-text-color-secondary);
    }
  }

  &&-with-clear:not(@{pls}-disabled):hover {
    @{pls}-clear {
      visibility: visible;
    }
  }

  &-handler-wrap {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 22px;
    height: 100%;
    border-left: 1px solid var(--yee-input-border-color);
    background-color: var(--yee-inputnumber-handler-wrap-bg-color);
    border-radius: 0 4px 4px 0;
  }

  &-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    color: var(--yee-input-number-icon-color);
    cursor: pointer;
    transition: all 0.3s;

    &:hover:not(&-disabled) {
      color: var(--yee-input-number-icon-hover-color);
      background-color: var(--yee-inputnumber-handler-hover-bg-color);
    }

    &:active:not(&-disabled) {
      background-color: var(--yee-inputnumber-handler-active-bg-color);
    }

    &-disabled {
      color: var(--yee-inputnumber-disabled-font-color);
      cursor: not-allowed;
    }

    &-up {
      border-bottom: 1px solid var(--yee-input-border-color);
      border-radius: 0 4px 0 0;
    }

    &-down {
      border-radius: 0 0 4px 0;
    }
  }

  &-disabled {
    color: var(--yee-inputnumber-disabled-font-color);
    background-color: var(--yee-input-disabled-bg-color);
    cursor: not-allowed;

    @{pls}-inner {
      cursor: not-allowed;
    }

    @{pls}-handler-wrap {
      background-color: var(--yee-input-disabled-bg-color);
    }

    @{pls}-handler {
      color: var(--yee-inputnumber-disabled-font-color);
      cursor: not-allowed;
    }
  }

  // Size variants
  &-small {
    height: 24px;
    padding: 0 7px;
    font-size: 12px;

    @{pls}-handler-wrap {
      width: 18px;
    }

    @{pls}-inner {
      padding: 0;
    }
  }

  &-default {
    @{pls}-inner {
      padding: 2px 0px 2px 0px;
    }
  }

  &-large {
    height: 40px;
    padding: 4px 11px;
    font-size: 16px;

    @{pls}-handler-wrap {
      width: 26px;
    }

    @{pls}-inner {
      padding: 4px 0 4px 0px;
    }
  }

  &-with-controls {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
}

// Form error status
.yee-form-item-error {
  @{pls} {
    border-color: var(--yee-error-color);

    &:not(@{pls}-disabled):hover {
      border-color: var(--yee-error-color);
    }

    &-focused {
      box-shadow: 0 0 0 2px var(--yee-input-content-error-focus-bs-color);
    }
  }
}

.yee-form-item-warning {
  @{pls} {
    border-color: var(--yee-warning-color);

    &:not(@{pls}-disabled):hover {
      border-color: var(--yee-warning-color);
    }

    &-focused {
      box-shadow: 0 0 0 2px var(--yee-input-content-warning-focus-bs-color);
    }
  }
}
