@pls: .yee-welcome;

@{pls} {
  text-align: center;
  margin-bottom: 40px;

  &-title {
    font-size: 20px;
    margin: 10px 0;
  }

  &-description {
    color: var(--yee-welcome-desc-color, #666);
  }

  &-content {
    margin-top: var(--yee-welcome-content-mt, 24px);
  }
}
