[data-theme='blue'] {
  --yee-color-primary: #777af2;
  --yee-color-primary-hover: #655ee0;
  --yee-color-primary-active: #5a54d6;
  --yee-color-link: #777af2;
  --yee-color-link-hover: #655ee0;
  --yee-color-link-active: #5a54d6;
  --yee-color-info: #31708f;
  --yee-color-info-hover: #295d78;
  --yee-color-info-active: #295d78;
  --yee-color-info-bg: #eff4f6;
  --yee-color-info-border: #cedde4;
  --yee-color-success: #52c41a;
  --yee-color-success-hover: #009e8a;
  --yee-color-success-active: #009e8a;
  --yee-color-success-bg: #ebfaf8;
  --yee-color-success-border: #c2efea;
  --yee-color-warning: #faad14;
  --yee-color-warning-hover: #d69b00;
  --yee-color-warning-active: #d69b00;
  --yee-color-warning-bg: #fffaeb;
  --yee-color-warning-border: #ffeec2;
  --yee-color-error: #f2545b;
  --yee-color-error-hover: #cb464c;
  --yee-color-error-active: #cb464c;
  --yee-color-error-bg: #fef2f2;
  --yee-color-error-border: #fcd6d8;
  --yee-color-text: #39364e;
  --yee-color-text-secondary: #696969;
  --yee-color-text-description: #7c7c7c;
  --yee-color-text-disabled: #bfbfbf;
  --yee-color-text-highlight: #f58220;
  --yee-color-text-auxiliary: #f5f5f5;
  --yee-color-split: #e7e7e7;
  --yee-color-border: #cbd6e2;
  --yee-color-border-hover: #75b9f0;
  --yee-color-border-focus: #75b9f0;
  --yee-color-bg-highlight: rgba(245, 130, 32, 16%);
  --yee-color-bg-disabled: #f5f8fa;
  --yee-color-bg-head: #f8f8f8;
  --yee-color-bg-rail: #f5f5f5;
  --yee-color-bg-fill: #ededed;
  --yee-color-bg-layout: #f9f9f9;
  --yee-color-bg-elevated: #fff;
  --yee-color-bg-container: #fff;
  --yee-color-bg-mask-dark: rgba(0, 0, 0, 48%);
  --yee-color-bg-mask-light: rgba(255, 255, 255, 64%);
  --yee-color-option-active: #777af2;
  --yee-color-option-active-bg: #f5f5fe;
  --yee-color-option-hover: #39364e;
  --yee-color-option-hover-bg: #f8f8f8;

  /* 全局的弹出层box-shadow */

  --yee-box-shadow-color: rgba(15, 15, 15, 0.08);

  /* --font-family-- */

  --global-font-family:
    system-ui, -apple-system, BlinkMacSystemFont, 'Albert Sans', 思源黑体,
    SourceHanSansSC, Roboto-Regular;

  /* --global-- */

  --yee-global-font-color: var(--yee-primary3-color);
  --yee-color-placeholder: var(--yee-neutral3-color);
  --yee-title-prefix-bg-color: var(--yee-primary1-color);
  --yee-remove-icon: var(--yee-neutral3-color);
  --yee-remove-icon-hover: var(--yee-neutral3-color);
  --yee-remove-icon-active: var(--yee-neutral3-color);
  --yee-global-body-bg-color: var(--yee-neutral7-color);
  --yee-placement-arrow-bg-color: #ffffff;
  --yee-close-icon-color: var(--yee-global-font-color);
  --yee-close-icon-hover-color: var(--yee-global-font-color);
  --yee-mask-bg-color: rgba(0, 0, 0, 0.48);
  --yee-tab-active-border-color: #c9cafa;

  /* --Button-- */

  --yee-btn-primary-bg-color: var(--yee-primary1-color);
  --yee-btn-primary-disabled-color: var(--yee-neutral3-color);
  --yee-btn-primary-disabled-bg-color: var(--yee-disabled-bg-color);
  --yee-btn-primary-disabled-border-color: var(--yee-color-border);
  --yee-btn-default-bg-color: #ffffff;
  --yee-btn-default-disabled-color: var(--yee-neutral3-color);
  --yee-btn-default-disabled-bg-color: var(--yee-disabled-bg-color);
  --yee-btn-default-disabled-border-color: var(--yee-color-border);
  --yee-btn-text-color: var(--yee-primary1-color);
  --yee-btn-text-hover-color: var(--yee-primary3-color);
  --yee-btn-text-active-color: var(--yee-primary3-color);
  --yee-btn-text-disabled-color: var(--yee-neutral3-color);
  --yee-btn-link-color: var(--yee-primary1-color);
  --yee-btn-link-hover-color: var(--yee-primary3-color);
  --yee-btn-link-active-color: var(--yee-primary3-color);
  --yee-btn-link-disabled-color: var(--yee-neutral3-color);
  --yee-btn-info-color: #ffffff;
  --yee-btn-info-bg-color: var(--yee-color-info);
  --yee-btn-info-border-color: var(--yee-color-info);
  --yee-btn-info-hover-color: var(--yee-info-hover-color);
  --yee-btn-info-hover-bg-color: var(--yee-info-hover-color);
  --yee-btn-info-hover-border-color: var(--yee-info-hover-color);
  --yee-btn-info-active-color: var(--yee-info-active-color);
  --yee-btn-info-active-bg-color: var(--yee-info-active-color);
  --yee-btn-info-active-border-color: var(--yee-info-active-color);
  --yee-btn-info-not-primary-color: var(--yee-color-info);
  --yee-btn-info-not-primary-bg-color: #ffffff;
  --yee-btn-info-not-primary-hover-color: var(--yee-info-hover-color);
  --yee-btn-info-not-primary-hover-bg-color: #ffffff;
  --yee-btn-info-not-primary-active-color: var(--yee-info-active-color);
  --yee-btn-info-not-primary-active-bg-color: #ffffff;
  --yee-btn-success-bg-color: var(--yee-color-success);
  --yee-btn-success-not-primary-color: var(--yee-color-success);
  --yee-btn-success-not-primary-bg-color: #ffffff;
  --yee-btn-success-not-primary-hover-color: var(--yee-success-hover-color);
  --yee-btn-success-not-primary-hover-bg-color: #ffffff;
  --yee-btn-success-not-primary-active-color: var(--yee-success-active-color);
  --yee-btn-success-not-primary-active-bg-color: #ffffff;
  --yee-btn-warning-bg-color: var(--yee-color-warning);
  --yee-btn-warning-not-primary-color: var(--yee-color-warning);
  --yee-btn-warning-not-primary-bg-color: #ffffff;
  --yee-btn-warning-not-primary-hover-color: var(--yee-warning-hover-color);
  --yee-btn-warning-not-primary-hover-bg-color: #ffffff;
  --yee-btn-warning-not-primary-active-color: var(--yee-warning-active-color);
  --yee-btn-warning-not-primary-active-bg-color: #ffffff;
  --yee-btn-danger-bg-color: var(--yee-color-error);
  --yee-btn-danger-not-primary-color: var(--yee-color-error);
  --yee-btn-danger-not-primary-bg-color: #ffffff;
  --yee-btn-danger-not-primary-hover-color: var(--yee-error-hover-color);
  --yee-btn-danger-not-primary-hover-bg-color: #ffffff;
  --yee-btn-danger-not-primary-active-color: var(--yee-error-active-color);
  --yee-btn-danger-not-primary-active-bg-color: #ffffff;

  /* ghost */

  --yee-btn-ghost-disabled-color: var(--yee-neutral3-color);
  --yee-btn-ghost-disabled-border-color: var(--yee-color-border);
  --yee-btn-primary-ghost-disabled-bg-color: rgba(245, 248, 250, 0.08);
  --yee-btn-default-ghost-disabled-bg-color: var(
    --yee-btn-primary-ghost-disabled-bg-color
  );

  --yee-btn-primary-ghost-color: var(--yee-primary1-color);
  --yee-btn-primary-ghost-bg-color: rgba(119, 122, 242, 0);
  --yee-btn-primary-ghost-border-color: var(--yee-primary1-color);
  --yee-btn-primary-ghost-hover-color: var(--yee-primary1-color);
  --yee-btn-primary-ghost-hover-bg-color: rgba(119, 122, 242, 0.08);
  --yee-btn-primary-ghost-hover-border-color: #6366cb;

  --yee-btn-primary-ghost-active-color: var(--yee-primary1-color);
  --yee-btn-primary-ghost-active-bg-color: rgba(119, 122, 242, 0.08);
  --yee-btn-primary-ghost-active-border-color: #6366cb;

  --yee-btn-default-ghost-color: #ffffff;
  --yee-btn-default-ghost-bg-color: rgba(255, 255, 255, 0);
  --yee-btn-default-ghost-border-color: #ffffff;
  --yee-btn-default-ghost-hover-color: #ffffff;
  --yee-btn-default-ghost-hover-bg-color: var(
    --yee-btn-primary-ghost-hover-bg-color
  );

  --yee-btn-default-ghost-hover-border-color: var(
    --yee-btn-primary-ghost-hover-border-color
  );

  --yee-btn-default-ghost-active-color: var(
    --yee-btn-primary-ghost-active-color
  );

  --yee-btn-default-ghost-active-bg-color: var(
    --yee-btn-primary-ghost-active-bg-color
  );

  --yee-btn-default-ghost-active-border-color: var(
    --yee-btn-primary-ghost-active-border-color
  );

  --yee-btn-text-ghost-color: #ffffff;
  --yee-btn-text-ghost-hover-color: #ffffff;
  --yee-btn-text-ghost-active-color: #ffffff;
  --yee-btn-link-ghost-color: var(--yee-primary1-color);
  --yee-btn-link-ghost-hover-color: var(--yee-primary1-color);
  --yee-btn-link-ghost-active-color: var(--yee-primary1-color);
  --yee-btn-info-ghost-color: var(--yee-color-info);
  --yee-btn-info-ghost-bg-color: rgba(49, 112, 143, 0);
  --yee-btn-info-ghost-border-color: var(--yee-color-info);
  --yee-btn-info-ghost-hover-color: #5286a1;
  --yee-btn-info-ghost-hover-bg-color: rgba(82, 134, 161, 0.08);
  --yee-btn-info-ghost-hover-border-color: var(--yee-color-info-hover);

  --yee-btn-info-ghost-active-color: #5286a1;
  --yee-btn-info-ghost-active-bg-color: rgba(82, 134, 161, 0.08);
  --yee-btn-info-ghost-active-border-color: var(--yee-color-info-active);

  --yee-btn-success-ghost-color: var(--yee-color-success);
  --yee-btn-success-ghost-bg-color: rgba(0, 189, 165, 0);
  --yee-btn-success-ghost-border-color: var(--yee-color-success);
  --yee-btn-success-ghost-hover-color: #29c7b3;
  --yee-btn-success-ghost-hover-bg-color: rgba(41, 199, 179, 0.08);
  --yee-btn-success-ghost-hover-border-color: var(--yee-color-success-hover);

  --yee-btn-success-ghost-active-color: #29c7b3;
  --yee-btn-success-ghost-active-bg-color: rgba(41, 199, 179, 0.08);
  --yee-btn-success-ghost-active-border-color: var(--yee-color-success-active);

  --yee-btn-warning-ghost-color: var(--yee-color-warning);
  --yee-btn-warning-ghost-bg-color: rgba(255, 185, 0, 0);
  --yee-btn-warning-ghost-border-color: var(--yee-color-warning);
  --yee-btn-warning-ghost-hover-color: #ffc429;
  --yee-btn-warning-ghost-hover-bg-color: rgba(255, 196, 41, 0.08);
  --yee-btn-warning-ghost-hover-border-color: var(--yee-color-warning-hover);

  --yee-btn-warning-ghost-active-color: #ffc429;
  --yee-btn-warning-ghost-active-bg-color: rgba(255, 196, 41, 0.08);
  --yee-btn-warning-ghost-active-border-color: var(--yee-color-warning-active);

  --yee-btn-danger-ghost-color: var(--yee-color-error);
  --yee-btn-danger-ghost-bg-color: rgba(242, 84, 91, 0);
  --yee-btn-danger-ghost-border-color: var(--yee-color-error);
  --yee-btn-danger-ghost-hover-color: #f46f75;
  --yee-btn-danger-ghost-hover-bg-color: rgba(244, 111, 117, 0.08);
  --yee-btn-danger-ghost-hover-border-color: var(--yee-color-error-hover);

  --yee-btn-danger-ghost-active-color: #f46f75;
  --yee-btn-danger-ghost-active-bg-color: rgba(244, 111, 117, 0.08);
  --yee-btn-danger-ghost-active-border-color: var(--yee-color-error-active);

  --yee-btn-loading-spinner-color: var(--yee-neutral3-color);
  --yee-btn-primary-loading-spinner-color: #ffffff;

  /* --FloatButton-- */

  --yee-float-btn-menu-bg-color: var(--yee-color-bg-elevated);

  --yee-float-btn-color: #ffffff;
  --yee-float-btn-default-bg-color: #425b76;
  --yee-float-btn-default-hover-color: #fff;

  --yee-float-btn-default-hover-bg-color: var(--yee-primary3-color);
  --yee-float-btn-primary-color: #fff;

  --yee-float-btn-primary-bg-color: var(--yee-primary1-color);
  --yee-float-btn-primary-hover-color: #fff;

  --yee-float-btn-primary-hover-bg-color: var(--yee-primary3-color);

  /* --Field-- */

  --yee-field-required-color: var(--yee-color-error);

  --yee-field-error-message-color: var(--yee-color-error);

  /* --Menu-- */

  --yee-menu-bg-color: #ffffff;
  --yee-menu-item-hover-bg-color: var(--yee-option-hover-bg-color);
  --yee-menu-item-hover-color: var(--yee-option-hover-color);
  --yee-menu-item-selected-color: var(--yee-option-active-color);
  --yee-menu-item-selected-bg-color: var(--yee-option-active-bg-color);
  --yee-menu-item-arrow-color: var(--yee-color-text-auxiliary);

  --yee-menu-item-arrow-hover-color: var(--yee-color-text-auxiliary);

  --yee-menu-item-arrow-selected-color: var(--yee-color-primary);

  --yee-menu-item-bg-color: #fff;

  --yee-menu-item-title-bg-color: #f0f0f0;

  --yee-menu-item-title-hover-bg-color: #f0f0f0;

  --yee-menu-item-focused-bg-color: #f0f0f0;

  --yee-menu-submenu-selected-color: var(--yee-color-primary);

  /* 暂时无用 */

  --yee-menu-submenu-inline-open-color: var(--yee-primary1-color);
  --yee-menu-submenu-inline-open-bg-color: var(--yee-option-active-bg-color);
  --yee-menu-vertical-border-color: var(--yee-color-border);
  --yee-icon-success-color: var(--yee-color-success);
  --yee-icon-info-color: var(--yee-color-info);
  --yee-icon-warning-color: var(--yee-color-warning);
  --yee-icon-danger-color: var(--yee-color-error);

  /* --Divider-- */

  --yee-divider-font-color: var(--yee-global-font-color);
  --yee-divider-border-color: var(--yee-neutral4-color);

  /* --SplitPanel-- */

  --yee-splitter-bg-color: var(--yee-color-bg-container);

  --yee-splitter-border-color: var(--yee-color-split);

  --yee-splitter-handler-color: var(--yee-color-split);

  --yee-splitter-handler-hover-color: rgba(119, 122, 242, 32%);

  --yee-splitter-handler-drag-color: rgba(119, 122, 242, 48%);

  --yee-splitter-arrow-color: var(--yee-color-text);

  --yee-splitter-arrow-bg-color: rgba(0, 0, 0, 4%);

  --yee-splitter-arrow-hover-color: #777af2;

  --yee-splitter-arrow-bg-hover-color: rgba(119, 122, 242, 8%);

  /* --Anchor-- */

  --yee-anchor-content-bg-color: #ffffff;
  --yee-anchor-nav-arrow-bg-color: var(--yee-primary2-color);
  --yee-anchor-nav-arrow-span-font-color: #ffffff;
  --yee-anchor-nav-arrow-before-borderbottom-color: var(
    --yee-anchor-nav-arrow-bg-color
  );

  --yee-anchor-nav-arrow-before-borderright-color: var(
    --yee-anchor-nav-arrow-bg-color
  );

  --yee-anchor-nav-arrow-after-bordertop-color: var(
    --yee-anchor-nav-arrow-bg-color
  );

  --yee-anchor-nav-arrow-after-borderright-color: var(
    --yee-anchor-nav-arrow-bg-color
  );

  --yee-anchor-nav-line-bg-color: var(--yee-neutral6-color);
  --yee-anchor-static-nav-line-bg-color: var(--yee-color-split);

  --yee-anchor-item-font-color: var(--yee-color-text);

  --yee-anchor-item-hover-font-color: var(--yee-primary1-color);
  --yee-anchor-item-before-bg-color: #f5f5f5;
  --yee-anchor-item-before-border-color: var(--yee-primary1-color);
  --yee-anchor-item-before-active-bg-color: var(--yee-color-bg-elevated);

  --yee-anchor-item-active-font-color: var(--yee-primary1-color);

  /* --Breadcrumb-- */

  --yee-breadcrumb-font-color: var(--yee-primary3-color);
  --yee-breadcrumb-previous-font-color: var(--yee-neutral3-color);
  --yee-breadcrumb-separator-color: var(--yee-color-text-description);

  --yee-breadcrumb-item-link-hover-font-color: var(--yee-primary1-color);
  --yee-breadcrumb-item-link-active-font-color: var(--yee-primary1-color);
  --yee-breadcrumb-icon-color: var(--yee-primary1-color);
  --yee-breadcrumb-hover-icon-color: var(--yee-primary3-color);
  --yee-breadcrumb-active-icon-color: var(--yee-primary3-color);

  /* --Dropdown-- */

  --yee-dropdown-bg-color: #ffffff;

  /* --List-- */

  --yee-list-item-color: var(--yee-global-font-color);
  --yee-list-item-bg-color: #ffffff;
  --yee-list-item-disabled: var(--yee-neutral3-color);
  --yee-list-item-disabled-bg-color: #ffffff;
  --yee-list-item-hover-color: var(--yee-option-hover-color);
  --yee-list-item-bg-hover-color: var(--yee-option-hover-bg-color);
  --yee-list-item-active-color: var(--yee-option-active-color);
  --yee-list-item-active-bg-color: var(--yee-option-active-bg-color);
  --yee-list-bg-color: #fefefe;

  --yee-list-bordered-border-color: #ccc;

  /* --Pagination-- */

  --yee-pagination-item-border-color: var(--yee-color-border);
  --yee-pagination-item-bg-color: var(--yee-color-bg-container);

  --yee-pagination-item-color: var(--yee-color-text);

  --yee-pagination-itemnot-border-color: var(--yee-color-border);
  --yee-pagination-itemnot-bg-color: var(--yee-color-bg-container);

  --yee-pagination-itemnot-color: var(--yee-neutral3-color);
  --yee-pagination-item-hover-border-color: var(--yee-color-border);
  --yee-pagination-item-hover-bg-color: var(--yee-color-bg-container);

  --yee-pagination-item-hover-color: var(--yee-primary1-color);
  --yee-pagination-item-active-border-color: var(--yee-primary1-color);
  --yee-pagination-item-active-bg-color: var(--yee-color-bg-container);

  --yee-pagination-item-active-color: var(--yee-primary1-color);
  --yee-pagination-disabled-color: var(--yee-neutral3-color);
  --yee-pagination-disabled-border-color: var(--yee-color-border);
  --yee-pagination-disabled-bg-color: var(--yee-color-bg-container);

  --yee-pagination-active-disabled-border-color: var(--yee-color-border);
  --yee-pagination-active-disabled-bg-color: var(--yee-disabled-bg-color);
  --yee-pagination-active-disabled-color: var(--yee-color-text-disabled);

  --yee-pagination-turn-page-color: var(--yee-color-text);

  /* --Steps-- */

  --yee-steps-step-title-color: var(--yee-global-font-color);
  --yee-steps-serial-undo-title-color: var(--yee-neutral3-color);
  --yee-steps-step-subtitle-color: var(--yee-neutral3-color);
  --yee-steps-step-description: var(--yee-neutral3-color);
  --yee-steps-step-doing-description-color: var(--yee-global-font-color);
  --yee-steps-step-done-color: var(--yee-primary1-color);
  --yee-steps-serial-done-bg-color: #dae3ed;
  --yee-steps-serial-done-border-color: var(--yee-steps-serial-done-bg-color);
  --yee-steps-step-doing-color: #ffffff;
  --yee-steps-serial-doing-bg-color: var(--yee-primary1-color);
  --yee-steps-serial-doing-border-color: var(--yee-steps-serial-doing-bg-color);
  --yee-steps-step-undo-color: var(--yee-neutral3-color);
  --yee-steps-serial-undo-bg-color: var(--yee-neutral6-color);
  --yee-steps-serial-undo-border-color: var(--yee-neutral6-color);
  --yee-steps-step-icon-done-color: var(--yee-steps-serial-doing-bg-color);

  --yee-steps-step-doing-icon-color: var(--yee-primary1-color);
  --yee-steps-step-icon-undo-color: var(--yee-color-text-disabled);

  --yee-steps-step-done-dot-color: var(--yee-primary1-color);
  --yee-steps-step-doing-dot-color: var(--yee-primary1-color);
  --yee-steps-step-undo-dot-color: var(--yee-neutral6-color);
  --yee-steps-done-line-bg-color: var(--yee-primary1-color);
  --yee-steps-line-bg-color: #e7e7e7;
  --yee-steps-step-error-color: var(--yee-color-error);
  --yee-steps-step-error-border-color: #fef2f2;
  --yee-steps-step-error-bg-color: #fef2f2;
  --yee-steps-step-nav-arrow-color: var(--yee-neutral3-color);
  --yee-steps-step-nav-border-color: var(--yee-neutral4-color);
  --yee-steps-step-nav-doing-border-color: var(
    --yee-steps-serial-doing-bg-color
  );

  --yee-steps-step-nav-click-hover-color: var(--yee-primary1-color);
  --yee-steps-step-ribbon-icon-bg-color: #ffffff;
  --yee-steps-step-ribbon-icon-border-color: var(
    --yee-steps-step-ribbon-icon-bg-color
  );

  --yee-steps-step-ribbon-done-icon-bg-color: #fff;

  --yee-steps-step-ribbon-done-icon-border-color: var(
    --yee-steps-step-ribbon-done-icon-bg-color
  );

  --yee-steps-step-ribbon-done-icon-color: var(--yee-steps-step-done-color);

  --yee-steps-step-ribbon-undo-icon-bg-color: #fff;

  --yee-steps-step-ribbon-undo-icon-border-color: var(
    --yee-steps-step-ribbon-undo-icon-bg-color
  );

  --yee-steps-step-ribbon-undo-icon-color: var(
    --yee-steps-step-ribbon-undo-color
  );

  --yee-steps-step-ribbon-done-color: var(--yee-primary1-color);
  --yee-steps-step-ribbon-done-bg-color: #eaeafd;
  --yee-steps-step-ribbon-doing-color: #ffffff;
  --yee-steps-step-ribbon-doing-bg-color: var(
    --yee-steps-serial-doing-bg-color
  );

  --yee-steps-step-ribbon-undo-color: var(--yee-steps-step-undo-color);

  --yee-steps-step-ribbon-undo-bg-color: var(--yee-neutral6-color);

  /* --Cascader-- */

  --yee-cascader-bg-color: #ffffff;
  --yee-cascader-menu-item-border-color: #f2f2f2;
  --yee-cascader-menu-font-color: var(--yee-global-font-color);
  --yee-cascader-menu-disabled-color: var(--yee-neutral3-color);
  --yee-cascader-menu-disabled-bg-color: #ffffff;
  --yee-cascader-menu-arrow-color: var(--yee-neutral3-color);
  --yee-cascader-menu-arrow-hover-color: var(--yee-neutral3-color);
  --yee-cascader-menu-arrow-active-color: var(--yee-neutral3-color);
  --yee-cascader-menu-active-color: var(--yee-option-active-bg-color);
  --yee-cascader-menu-active-font-color: var(--yee-option-active-color);
  --yee-cascader-menu-hover-color: var(--yee-option-hover-color);
  --yee-cascader-menu-hover-bg-color: var(--yee-option-hover-bg-color);
  --yee-filter-menu-hover-bg-color: var(--yee-option-hover-bg-color);
  --yee-high-light-font-color: var(--yee-primary1-color);

  /* --Checkbox-- */

  --yee-checkbox-bg-color: var(--yee-color-bg-container);

  --yee-checkbox-border-color: var(--yee-color-border);
  --yee-checkbox-hover-border-color: var(
    --yee-input-content-hover-border-color
  );
  --yee-checkbox-checked-bg-color: var(--yee-primary1-color);
  --yee-checkbox-checked-border-color: var(--yee-primary1-color);
  --yee-checkbox-checked-after-border-color: #ffffff;
  --yee-checkbox-disabled-unchecked-bg-color: var(--yee-disabled-bg-color);
  --yee-checkbox-disabled-checked-bg-color: var(--yee-disabled-bg-color);
  --yee-checkbox-disabled-checked-border-color: var(--yee-color-border);
  --yee-checkbox-disabled-checked-after-border-color: var(
    --yee-color-text-disabled
  );

  --yee-checkbox-border-indeterminate-color: var(--yee-primary1-color);
  --yee-checkbox-bg-indeterminate-color: var(--yee-primary1-color);

  /* --Datepicker--  */

  --yee-date-picker-panel-color: var(--yee-global-font-color);
  --yee-date-picker-panel-bg-color: #ffffff;
  --yee-date-picker-header-color: var(--yee-global-font-color);
  --yee-date-picker-header-font-color: #323232;
  --yee-picker-header-button-color: var(--yee-color-text-description);

  --yee-date-picker-header-font-hover-color: var(--yee-color-primary);

  --yee-picker-header-button-hover-color: var(--yee-color-text);

  --yee-date-picker-header-bg-color: #ffffff;
  --yee-date-picker-thead-color: var(--yee-global-font-color);
  --yee-date-picker-thead-bg-color: var(--yee-neutral7-color);
  --yee-picker-date-panel-border-color: var(--yee-neutral4-color);
  --yee-date-picker-not-in-view-color: var(--yee-neutral3-color);
  --yee-date-picker-current-bg-color: var(--yee-primary1-color);
  --yee-date-picker-hover-color: var(--yee-option-hover-color);
  --yee-date-picker-hover-bg-color: var(--yee-option-hover-bg-color);
  --yee-date-picker-checked-active-bg-color: #9295f5;
  --yee-date-picker-checked-active-color: #ffffff;
  --yee-date-picker-disabled-bg-color: var(--yee-color-bg-disabled);

  --yee-date-picker-weekend-font-color: var(--yee-date-picker-panel-color);

  --yee-date-picker-week-count-color: var(--yee-color-text-auxiliary);

  --yee-date-picker-time-hover-color: var(--yee-option-hover-color);
  --yee-date-picker-time-hover-bg-color: var(--yee-option-hover-bg-color);
  --yee-date-picker-time-checked-active-color: var(--yee-option-active-color);
  --yee-date-picker-time-checked-active-bg-color: var(
    --yee-color-option-active-bg
  );

  --yee-date-picker-time-disabled-color: var(--yee-neutral3-color);
  --yee-date-picker-time-disabled-bg-color: var(--yee-disabled-bg-color);

  --yee-range-picker-trigger-border-color: var(--yee-color-border);
  --yee-range-picker-trigger-hover-border-color: var(--yee-color-border-hover);

  --yee-range-picker-checked-bg-color: var(--yee-option-active-bg-color);
  --yee-range-picker-hover-border-color: var(--yee-primary1-color);
  --yee-range-picker-panel-bg-color: #fff;

  /* --Timepicker-- */

  --yee-time-picker-bg-color: #ffffff;
  --yee-time-picker-header-color: var(--yee-global-font-color);
  --yee-time-picker-header-bg-color: var(--yee-neutral7-color);
  --yee-time-picker-container-hour-apm-active-bg-color: var(
    --yee-color-option-active-bg
  );

  --yee-time-picker-container-hour-apm-active-font-color: var(
    --yee-color-option-active
  );

  /* --Input-- */

  --yee-input-hover-border-color: #75b9f0;
  --yee-input-focus-border-color: #75b9f0;
  --yee-input-focus-bs-color: rgba(117, 185, 240, 0.24);
  --yee-input-border-color: var(--yee-color-border);
  --yee-input-content-bg-color: var(--yee-color-bg-container);

  --yee-input-disabled-bg-color: var(--yee-disabled-bg-color);
  --yee-input-fix-icon-color: var(--yee-neutral3-color);
  --yee-input-fix-icon-click-color: var(--yee-primary1-color);
  --yee-input-fix-icon-click-hover-color: var(--yee-color-primary);

  --yee-input-fix-icon-click-active-color: var(--yee-color-primary);

  --yee-suffix-counter: var(--yee-neutral2-color);
  --yee-input-required-font-color: #ff0000;
  --yee-input-helpfill-font-color: var(--yee-color-warning);
  --yee-input-content-error-focus-bs-color: rgba(242, 84, 91, 0.24);
  --yee-input-content-warning-focus-bs-color: rgba(255, 185, 0, 24%);

  --yee-input-error-border-color: var(--yee-color-error);
  --yee-input-clear-color: #fff;

  --yee-input-clear-bg-color: #bfbfbf;

  /* --JsonViewer-- */

  --yee-json-view-color: #333;
  --yee-json-key-color: #92278f;
  --yee-json-string-color: #3ab54a;
  --yee-json-number-color: #25aae2;
  --yee-json-boolean-color: #f98280;
  --yee-json-null-color: #f1592a;
  --yee-json-brace-color: #333;
  --yee-json-comma-color: #333;
  --yee-json-collapsed-color: #666;

  /* --Textarea-- */

  --yee-textarea-number-color: var(--yee-neutral2-color);

  /* --Inputnumber-- */

  --yee-input-number-icon-color: var(--yee-global-font-color);
  --yee-input-number-icon-hover-color: var(--yee-primary1-color);
  --yee-input-number-disabled-font-color: var(--yee-neutral3-color);
  --yee-input-number-controls-border-color: var(--yee-color-border);
  --yee-input-number-handler-wrap-bg-color: #fafafa;
  --yee-input-number-handler-hover-bg-color: #f0f0f0;
  --yee-input-number-handler-active-bg-color: #e6e6e6;

  /* --Radio-- */

  --yee-radio-inner-border-color: var(--yee-color-border);
  --yee-radio-inner-bg-color: var(--yee-color-bg-container);

  --yee-radio-inner-checked-border-color: var(--yee-primary1-color);
  --yee-radio-inner-after-checked-bg-color: var(--yee-primary1-color);
  --yee-radio-inner-disabled-border-color: var(--yee-color-border);
  --yee-radio-inner-disabled-after-checked-bg-color: var(
    --yee-color-text-disabled
  );

  --yee-radio-inner-hover-border-color: var(--yee-color-border-hover);
  --yee-radio-label-button-border-color: var(--yee-color-border);
  --yee-radio-label-button-bg-color: var(--yee-color-bg-container);
  --yee-radio-label-button-hover-color: var(--yee-primary1-color);
  --yee-radio-label-button-hover-border-color: var(--yee-color-border);
  --yee-radio-label-button-hover-bg-color: var(--yee-color-bg-container);
  --yee-radio-input-checked-button-color: var(--yee-primary1-color);
  --yee-radio-input-checked-button-border-color: var(--yee-primary1-color);
  --yee-radio-input-checked-button-bg-color: var(--yee-color-bg-container);
  --yee-radio-button-arrow-color: var(--yee-primary1-color);
  --yee-radio-button-arrow-border-color: #fff;
  --yee-radio-label-disabled-color: var(--yee-neutral3-color);
  --yee-radio-label-disabled-bg-color: var(--yee-disabled-bg-color);
  --yee-radio-label-disabled-active-color: #ffffff;
  --yee-radio-label-disabled-active-bg-color: var(--yee-color-border);
  --yee-radio-label-button-disabled-border-color: var(--yee-color-border);
  --yee-radio-button-disabled-arrow-color: var(--yee-color-border);
  --yee-radio-button-disabled-arrow-border-color: #fff;
  --yee-radio-group-solid-checked-color: #fff;

  /* --Rate-- */

  --yee-rate-star-icon-color: var(--yee-neutral6-color);
  --yee-rate-star-full-icon-color: var(--yee-secondary2-color);

  /* --Select-- */

  --yee-select-down-container-bg-color: #ffffff;
  --yee-select-group-name-font-color: var(--yee-neutral3-color);
  --yee-select-option-hover-color: var(--yee-option-hover-color);
  --yee-select-option-hover-bg-color: var(--yee-option-hover-bg-color);
  --yee-select-option-active-color: var(--yee-option-active-color);
  --yee-select-option-active-bg-color: var(--yee-option-active-bg-color);
  --yee-select-multi-arrow-color: var(--yee-primary1-color);
  --yee-select-option-disabled-color: var(--yee-neutral3-color);
  --yee-select-no-data-color: var(--yee-neutral3-color);
  --yee-select-multi-tag-color: var(--yee-global-font-color);
  --yee-select-multi-tag-border-color: var(--yee-neutral4-color);
  --yee-select-multi-tag-bg-color: var(--yee-neutral6-color);
  --yee-select-multi-disabled-tag-color: var(--yee-neutral3-color);
  --yee-select-multi-disabled-tag-border-color: var(--yee-neutral4-color);
  --yee-select-multi-disabled-tag-bg-color: var(--yee-neutral6-color);

  /* --Slider-- */

  --yee-slider-track-bg-color: var(--yee-primary1-color);
  --yee-slider-track-bg-hover-color: var(--yee-color-primary-hover);

  --yee-slider-handle-border-color: var(--yee-primary1-color);
  --yee-slider-handle-bg-color: var(--yee-color-bg-container);

  --yee-slider-handle-border-disabled-color: var(--yee-neutral3-color);
  --yee-slider-handle-bg-disabled-color: var(--yee-color-bg-container);

  --yee-slider-handle-hover-border-color: var(--yee-primary1-color);
  --yee-slider-handle-active-border-color: var(--yee-primary1-color);
  --yee-slider-track-disabled-bg-color: var(--yee-neutral3-color);
  --yee-slider-dot-border-color: var(--yee-color-bg-fill);

  --yee-slider-dot-border-hover-color: var(--yee-slider-rail-bg-hover-color);

  --yee-slider-dot-bg-color: var(--yee-color-bg-container);

  --yee-slider-dot-active-border-color: var(--yee-primary1-color);
  --yee-slider-rail-bg-color: var(--yee-neutral6-color);
  --yee-slider-rail-bg-hover-color: #cbd6e2;

  --yee-slider-handle-dragging-border-color: rgba(119, 122, 242, 0.24);
  --yee-slider-mark-color: var(--yee-global-font-color);
  --yee-slider-mark-active-color: var(--yee-global-font-color);
  --yee-slider-tooltip-color: #fff;

  --yee-slider-tooltip-bg-color: rgba(0, 0, 0, 80%);

  --yee-slider-disabled-rail-bg-color: #e9e9e9;

  --yee-slider-disabled-handler-bg-color: #fff;

  --yee-slider-disabled-handler-border-color: #bfbfbf;

  /* --Switch-- */

  --yee-switchbox-switch-color: #ffffff;
  --yee-switchbox-switch-bg-color: var(--yee-color-border);
  --yee-switchbox-switch-border-color: var(--yee-switchbox-switch-bg-color);

  --yee-switchbox-switch-bg-hover-color: #bfbfbf;

  --yee-switchbox-switch-border-hover-color: var(
    --yee-switchbox-switch-bg-hover-color
  );

  --yee-switchbox-switch-handle-bg-color: #fff;

  --yee-switchbox-switch-disabled-color: var(--yee-neutral3-color);
  --yee-switchbox-switch-disabled-bg-color: #ebeff4;
  --yee-switchbox-switch-disabled-border-color: var(
    --yee-switchbox-switch-disabled-bg-color
  );

  --yee-switchbox-switch-disabled-handle-bg-color: #fff;

  --yee-switchbox-switch-checked-color: #ffffff;
  --yee-switchbox-switch-checked-bg-color: var(--yee-primary1-color);
  --yee-switchbox-switch-checked-border-color: var(--yee-color-primary);

  --yee-switchbox-switch-checked-bg-hover-color: var(--yee-color-primary-hover);

  --yee-switchbox-switch-checked-border-hover-color: var(
    --yee-color-primary-hover
  );

  --yee-switchbox-switch-checked-handle-bg-color: #fff;

  --yee-switchbox-switch-checked-disabled-color: #ffffff;
  --yee-switchbox-switch-checked-disabled-bg-color: #c9cafa;
  --yee-switchbox-switch-checked-disabled-border-color: var(
    --yee-switchbox-switch-checked-disabled-bg-color
  );

  --yee-switchbox-switch-checked-disabled-handle-bg-color: #fff;

  /* --TableSelect-- */

  --yee-table-select-container-bg-color: #ffffff;

  /* --Transfer-- */

  --yee-transfer-bg-color: #ffffff;
  --yee-transfer-list-border-color: var(--yee-color-border);
  --yee-transfer-list-bg-color: var(--yee-color-bg-container);

  --yee-transfer-list-header-bg-color: var(--yee-color-bg-container);

  --yee-transfer-list-content-item-hover-color: var(--yee-global-font-color);
  --yee-transfer-list-content-item-hover-bg-color: var(
    --yee-color-option-hover-bg
  );

  --yee-transfer-list-body-disabled-color: var(--yee-neutral3-color);
  --yee-transfer-list-body-disabled-bg-color: var(--yee-disabled-bg-color);
  --yee-transfer-list-delete-font-color: var(--yee-neutral3-color);
  --yee-transfer-list-delete-hover-font-color: var(--yee-primary1-color);
  --yee-transfer-operation-disabled-color: var(--yee-neutral3-color);
  --yee-transfer-operation-disabled-border-color: var(--yee-color-border);
  --yee-transfer-operation-disabled-bg-color: var(--yee-disabled-bg-color);

  /* --TreeSelect-- */

  --yee-tree-select-dropdown-bg-color: #ffffff;

  /* --Upload-- */

  --yee-upload-dragger-trigger-icon-color: var(--yee-color-text);

  --yee-upload-dragger-trigger-color: var(--yee-btn-text-color);
  --yee-upload-dragger-trigger-border-color: var(--yee-color-border);

  --yee-upload-dragger-trigger-hover-color: var(--yee-btn-text-hover-color);
  --yee-upload-dragger-trigger-des-color: var(--yee-neutral3-color);
  --yee-upload-dragger-trigger-disabled-color: var(--yee-neutral3-color);
  --yee-upload-dragger-trigger-disabled-bg-color: var(--yee-disabled-bg-color);
  --yee-upload-dragger-trigger-disabled-border-color: var(--yee-color-border);
  --yee-upload-error-color: var(--yee-color-error);
  --yee-upload-error-hover-color: var(--yee-error-hover-color);
  --yee-upload-list-item-color: var(--yee-primary1-color);
  --yee-upload-list-item-icon-color: var(--yee-neutral3-color);
  --yee-upload-list-item-icon-hover-color: var(--yee-neutral3-color);
  --yee-upload-list-item-hover-color: var(--yee-global-font-color);
  --yee-upload-list-item-hover-bg-color: var(--yee-option-hover-bg-color);
  --yee-upload-list-item-custom-btn-text-color: var(
    --yee-color-text-description
  );

  --yee-upload-list-item-custom-btn-text-hover-color: var(--yee-color-text);

  --yee-upload-list-item-custom-btn-text-active-color: var(--yee-color-text);

  --yee-upload-picture-list-item-border-color: var(--yee-neutral4-color);
  --yee-upload-picture-wall-item-border-color: var(--yee-color-border);

  --yee-upload-picture-list-item-border-error-color: var(--yee-color-error);

  --yee-upload-state-error-border-color: #fcd6d8;
  --yee-upload-state-error-bg-color: #fef2f2;
  --yee-upload-picture-wall-icon-color: #ffffff;
  --yee-upload-picture-wall-mask-color: var(--yee-mask-bg-color);

  /* --Search-- */

  --yee-search-result-bg-color: #ffffff;
  --yee-search-no-result-color: var(--yee-color-text-description);

  /* --Badge-- */

  --yee-badge-default-color: #e67e22;
  --yee-badge-default-font-color: #fff;

  --yee-badge-state-info-color: var(--yee-color-info);
  --yee-badge-state-success-color: var(--yee-color-success);
  --yee-badge-state-warning-color: var(--yee-color-warning);
  --yee-badge-state-error-color: var(--yee-color-error);
  --yee-badge-state-disabled-color: var(--yee-neutral3-color);
  --yee-badge-state-default-color: var(--yee-neutral6-color);
  --yee-ribbon-content-color: #ffffff;
  --yee-ribbon-content-bg-color: var(--yee-primary1-color);
  --yee-ribbon-anger-bg-color: #6366cb;
  --yee-badge-count-border-color: #ffffff;

  /* --Box-- */

  --yee-box-bg: #ffffff;
  --yee-box-footer-bg: var(--yee-color-bg-elevated);

  --yee-top-count-title: var(--yee-neutral3-color);
  --yee-top-count-after-bg-color: var(--yee-neutral4-color);

  /* --Calendar-- */

  --yee-calendar-thead-color: var(--yee-color-text);

  --yee-calendar-cell-bg-color: var(--yee-color-bg-container);

  --yee-calendar-cell-border-color: var(--yee-color-split);

  --yee-calendar-cell-hover-color: var(--yee-color-option-hover);

  --yee-calendar-cell-bg-hover-color: var(--yee-color-option-hover-bg);

  --yee-calendar-cell-border-hover-color: var(--yee-color-split);

  --yee-calendar-cell-current-color: var(--yee-color-option-active);

  --yee-calendar-cell-current-bg-color: var(--yee-color-option-active-bg);

  --yee-calendar-cell-current-border-color: var(--yee-color-primary);

  --yee-calendar-cell-selected-color: var(--yee-color-option-active);

  --yee-calendar-cell-selected-bg-color: var(--yee-color-option-active-bg);

  --yee-calendar-cell-selected-border-color: #d3d4fa;

  /* --Card-- */

  --yee-card-bg-color: #ffffff;
  --yee-card-border-color: var(--yee-neutral4-color);
  --yee-card-header-title-font-color: var(--yee-global-font-color);
  --yee-card-title-prefix-color: var(--yee-color-primary);

  --yee-card-group-bg-color: transparent;
  --yee-card-header-custom-btn-text-color: var(--yee-global-font-color);
  --yee-card-header-custom-btn-text-hover-color: var(--yee-color-link-hover);

  --yee-card-header-custom-btn-text-active-color: var(--yee-color-link-active);

  --yee-card-header-expand-icon-color: var(--yee-color-text);

  --yee-card-header-expand-icon-hover-color: var(--yee-color-text);

  --yee-card-header-expand-icon-active-color: var(--yee-color-text);

  --yee-card-group-inner-bg-color: #ffffff;
  --yee-card-header-clickable-bg-color: #efefef;

  /* --Carousel-- */

  --yee-carousel-bar-bg-color: #ffffff;
  --yee-carousel-bar-hover-active-bg-color: var(--yee-color-primary);

  --yee-carousel-arrow-color: var(--yee-color-primary);

  --yee-carousel-arrow-bg-color: rgba(119, 122, 242, 7%);

  --yee-carousel-arrow-border-color: rgba(119, 122, 242, 7%);

  --yee-carousel-arrow-hover-color: #fff;

  --yee-carousel-arrow-hover-bg-color: var(--yee-color-primary);

  --yee-carousel-arrow-hover-border-color: var(--yee-color-primary);

  /* --Collapse-- */

  --yee-collapse-bg-color: transparent;
  --yee-collapse-item-bg-color: #ffffff;
  --yee-collapse-header-bg-color: var(--yee-neutral7-color);
  --yee-collapse-border-color: var(--yee-neutral4-color);
  --yee-collapse-info-color: var(--yee-color-info);
  --yee-collapse-success-color: var(--yee-color-success);
  --yee-collapse-warning-color: var(--yee-color-warning);
  --yee-collapse-error-color: var(--yee-color-error);
  --yee-collapse-header-custom-btn-text-color: var(--yee-color-text);

  --yee-collapse-header-custom-btn-text-hover-color: var(--yee-color-primary);

  --yee-collapse-header-custom-btn-text-active-color: var(--yee-color-primary);

  /* --Highlight-- */

  --yee-highlight-color: var(--yee-color-primary);

  --yee-highlight-hover-color: #39364e;

  --yee-highlight-active-color: #39364e;

  /* --ImagePreview-- */

  --yee-image-viewer-image-mask-bg-color: var(--yee-mask-bg-color);

  --yee-image-viewer-mask-color: #fff;

  --yee-image-viewer-mask-bg-color: var(--yee-mask-bg-color);

  --yee-image-viewer-close-icon-color: rgba(255, 255, 255, 88%);

  --yee-image-viewer-close-icon-bg-color: rgba(0, 0, 0, 16%);

  --yee-image-viewer-close-icon-hover-color: #fff;

  --yee-image-viewer-toolbar-bg-color: rgba(0, 0, 0, 32%);

  --yee-image-viewer-toolbar-color: rgba(255, 255, 255, 72%);

  --yee-image-viewer-toolbar-hover-color: #fff;

  --yee-image-viewer-toolbar-disabled-color: rgba(255, 255, 255, 32%);

  --yee-image-viewer-toolbar-zoom-color: #fff;

  --yee-image-viewer-toolbar-split-color: rgba(255, 255, 255, 16%);

  --yee-image-viewer-split-color: rgba(255, 255, 255, 8%);

  --yee-image-viewer-selected-border-color: rgba(0, 0, 0, 32%);

  --yee-image-viewer-arrow-color: #fff;

  --yee-image-viewer-arrow-hover-color: #fff;

  --yee-image-viewer-arrow-bg-color: rgba(255, 255, 255, 8%);

  --yee-image-viewer-arrow-bg-hover-color: rgba(255, 255, 255, 16%);

  --yee-image-viewer-viewer-bg-color: var(--yee-color-bg-layout);

  /* --Popover-- */

  --yee-popover-bg-color: #ffffff;
  --yee-popover-header-bg-color: #ffffff;
  --yee-popover-confirm-icon-color: var(--yee-color-warning);

  /* --QRCode-- */

  --yee-qrcode-fill-color: var(--yee-color-text);

  --yee-qrcode-border-color: var(--yee-color-split);

  --yee-qrcode-bg-color: var(--yee-color-bg-container);

  --yee-qrcode-mask-bg-color: rgba(255, 255, 255, 96%);

  --yee-qrcode-mask-font-color: var(--yee-color-text);

  /* --Table-- */

  --yee-table-color: var(--yee-global-font-color);
  --yee-table-thead-color: var(--yee-color-text-secondary);

  --yee-table-bg-color: #ffffff;
  --yee-table-elevated-bg-color: var(--yee-table-bg-color);

  --yee-table-thead-bg-color: var(--yee-neutral7-color);
  --yee-table-elevated-thead-bg-color: var(--yee-table-thead-bg-color);

  --yee-table-thead-borderbottom-color: #f1f1f1;
  --yee-table-elevated-thead-borderbottom-color: var(
    --yee-table-thead-borderbottom-color
  );

  --yee-table-tbody-td-borderbottom-color: var(--yee-neutral6-color);
  --yee-table-elevated-tbody-td-borderbottom-color: var(
    --yee-table-tbody-td-borderbottom-color
  );

  --yee-table-thead-stripe-bg-color: var(--yee-color-bg-container);

  --yee-table-thead-stripe-borderbottom-color: var(
    --yee-table-thead-borderbottom-color
  );

  --yee-table-odd-row-bg-color: var(--yee-color-bg-container);

  --yee-table-even-row-bg-color: var(--yee-color-bg-head);

  --yee-table-elevated-thead-stripe-borderbottom-color: var(
    --yee-table-thead-stripe-borderbottom-color
  );

  --yee-table-elevated-odd-row-bg-color: var(--yee-table-odd-row-bg-color);

  --yee-table-elevated-even-row-bg-color: var(--yee-table-even-row-bg-color);

  --yee-table-highlight-bg-color: var(--yee-option-hover-bg-color);
  --yee-table-tbody-tr-hover-bg-color: var(--yee-option-hover-bg-color);
  --yee-table-elevated-tbody-tr-hover-bg-color: var(
    --yee-table-tbody-tr-hover-bg-color
  );

  --yee-table-head-action-search-color: var(--yee-color-text-auxiliary);

  --yee-table-head-action-filter-color: var(--yee-color-text-auxiliary);

  --yee-table-head-action-sort-color: var(--yee-color-text-auxiliary);

  --yee-table-head-action-hover-color: var(--yee-color-text-description);

  --yee-table-head-action-active-color: var(--yee-primary1-color);
  --yee-table-head-filter-color: var(--yee-color-text);

  --yee-table-head-filter-hover-color: var(--yee-color-primary);

  --yee-table-head-filter-active-color: var(--yee-color-primary);

  --yee-table-fixed-left-after-bs-color: var(--yee-box-shadow-color);
  --yee-table-fixed-right-after-bs-color: var(--yee-box-shadow-color);
  --yee-table-filter-list-bg-color: #ffffff;
  --yee-table-tbody-tr-expanded-bg-color: #ffffff;
  --yee-table-elevated-tbody-tr-expanded-bg-color: var(
    --yee-table-tbody-tr-expanded-bg-color
  );

  --yee-table-summary-bg-color: var(--yee-color-bg-container);

  --yee-table-no-record-color: var(--yee-color-text-description);

  /* --Tabs-- */

  --yee-tabs-bg-color: #ffffff;
  --yee-tabs-elevated-bg-color: var(--yee-color-bg-container);

  --yee-tabs-fixed-bg-color: var(--yee-global-body-bg-color);
  --yee-tabs-before-border-color: var(--yee-neutral4-color);
  --yee-tabs-tab-title-active-hover-color: var(--yee-primary1-color);
  --yee-tabs-tab-title-disabled-color: var(--yee-neutral3-color);
  --yee-tabs-active-border-color: var(--yee-primary1-color);
  --yee-tabs-border-color: var(--yee-neutral4-color);
  --yee-tabs-badge-bg-color: var(--yee-neutral6-color);
  --yee-tabs-badge-font-color: var(--yee-global-font-color);
  --yee-tabs-pills-border-color: var(--yee-color-border);
  --yee-tabs-tab-active-hover-pills-color: var(--yee-primary1-color);
  --yee-tabs-tab-active-pills-border-color: var(--yee-primary1-color);
  --yee-tabs-tab-dropdown-title-hover-color: var(--yee-color-option-hover);

  --yee-tabs-tab-dropdown-title-hover-bg-color: var(
    --yee-option-hover-bg-color
  );
  --yee-tabs-tab-dropdown-title-active-color: var(--yee-color-option-active);

  --yee-tabs-tab-dropdown-title-active-bg-color: var(
    --yee-color-option-active-bg
  );

  --yee-tabs-card-item-bg-color: rgba(255, 255, 255, 64%);

  --yee-tabs-card-active-hover-color: var(--yee-primary1-color);
  --yee-tabs-card-border-color: var(--yee-neutral4-color);
  --yee-tabs-card-border-bg-color: var(--yee-color-bg-head);

  --yee-tabs-card-active-bg-color: #ffffff;
  --yee-tabs-card-bg-color: transparent;
  --yee-tabs-header-custom-btn-text-color: var(--yee-color-text);

  --yee-tabs-header-custom-btn-text-hover-color: var(--yee-color-primary);

  --yee-tabs-header-custom-btn-text-active-color: var(--yee-color-primary);

  /* --Tag-- */

  --yee-tag-color: var(--yee-global-font-color);
  --yee-tag-border-color: var(--yee-neutral4-color);
  --yee-tag-item-bg-color: var(--yee-neutral7-color);
  --yee-tag-hover-color: var(--yee-global-font-color);
  --yee-tag-item-dashed-bg-color: #ffffff;
  --yee-tag-item-title-color: var(--yee-color-text-description);

  --yee-tag-item-not-check-color: var(--yee-global-font-color);
  --yee-tag-item-not-check-bg-color: #ffffff;
  --yee-tag-item-not-check-border-color: transparent;
  --yee-tag-item-check-hover-color: var(--yee-primary1-color);
  --yee-tag-item-check-hover-bg-color: #ffffff;
  --yee-tag-item-check-hover-border-color: transparent;
  --yee-tag-item-check-active-color: #ffffff;
  --yee-tag-item-check-active-bg-color: var(--yee-primary1-color);
  --yee-tag-item-check-active-border-color: var(--yee-primary1-color);
  --yee-tag-info-color: var(--yee-color-info);
  --yee-tag-info-border-color: #cedde4;
  --yee-tag-info-bg-color: #eff4f6;
  --yee-tag-success-color: var(--yee-color-success);
  --yee-tag-success-border-color: #c2efea;
  --yee-tag-success-bg-color: #ebfaf8;
  --yee-tag-warning-color: var(--yee-color-warning);
  --yee-tag-warning-border-color: #ffeec2;
  --yee-tag-warning-bg-color: #fffaeb;
  --yee-tag-error-color: var(--yee-color-error);
  --yee-tag-error-border-color: #fcd6d8;
  --yee-tag-error-bg-color: #fef2f2;
  --yee-tag-disabled-color: var(--yee-neutral3-color);
  --yee-tag-disabled-border-color: var(--yee-neutral4-color);
  --yee-tag-disabled-bg-color: var(--yee-neutral7-color);

  /* --Timeline-- */

  --yee-timeline-item-tail-color: var(--yee-neutral6-color);
  --yee-timeline-item-head-color: var(--yee-primary1-color);
  --yee-timeline-item-head-bg-color: var(--yee-color-bg-container);

  --yee-timeline-item-title-color: var(--yee-global-font-color);
  --yee-timeline-item-content-color: var(--yee-neutral3-color);
  --yee-timeline-item-info: var(--yee-color-info);
  --yee-timeline-item-success: var(--yee-color-success);
  --yee-timeline-item-warning: var(--yee-color-warning);
  --yee-timeline-item-error: var(--yee-color-error);
  --yee-timeline-item-disabled: var(--yee-color-text-disabled);

  /* --Tooltip-- */

  --yee-tooltip-font-color: #ffffff;
  --yee-tooltip-bg-color: rgba(0, 0, 0, 0.88);
  --yee-tooltip-info-color: #ffffff;
  --yee-tooltip-info-bg-color: var(--yee-color-info);
  --yee-tooltip-success-color: #ffffff;
  --yee-tooltip-success-bg-color: var(--yee-color-success);
  --yee-tooltip-warning-color: #ffffff;
  --yee-tooltip-warning-bg-color: var(--yee-color-warning);
  --yee-tooltip-error-color: #ffffff;
  --yee-tooltip-error-bg-color: var(--yee-color-error);

  /* --Tree-- */

  --yee-tree-node-text-hover-bg-color: var(--yee-option-hover-bg-color);
  --yee-tree-node-text-hover-color: var(--yee-option-hover-color);
  --yee-tree-node-text-active-bg-color: var(--yee-option-active-bg-color);
  --yee-tree-node-text-active-color: var(--yee-option-active-color);
  --yee-tree-node-disabled-color: var(--yee-neutral3-color);
  --yee-tree-node-single-disabled-active-color: var(--yee-neutral3-color);
  --yee-tree-node-single-disabled-active-bg-color: var(--yee-disabled-bg-color);
  --yee-tree-directory-node-hover-color: var(--yee-option-hover-color);
  --yee-tree-directory-node-hover-bg-color: var(--yee-option-hover-bg-color);
  --yee-tree-directory-node-active-color: var(--yee-option-active-color);
  --yee-tree-directory-node-active-bg-color: var(--yee-option-active-bg-color);
  --yee-tree-node-line-color: var(--yee-neutral4-color);
  --yee-tree-node-high-light-color: var(--yee-primary1-color);
  --yee-tree-header-custom-btn-text-color: var(--yee-color-text-description);

  --yee-tree-header-custom-btn-text-hover-color: var(--yee-color-primary);

  --yee-tree-header-custom-btn-text-active-color: var(--yee-color-primary);

  /* --Alert-- */

  --yee-alert-font-color: #333;
  --yee-alert-border-color: #333;
  --yee-alert-info-icon-color: var(--yee-tag-info-color);
  --yee-alert-info-bg-color: var(--yee-tag-info-bg-color);
  --yee-alert-info-border-color: var(--yee-tag-info-border-color);
  --yee-alert-success-icon-color: var(--yee-tag-success-color);
  --yee-alert-success-bg-color: var(--yee-tag-success-bg-color);
  --yee-alert-success-border-color: var(--yee-tag-success-border-color);
  --yee-alert-warning-icon-color: var(--yee-tag-warning-color);
  --yee-alert-warning-bg-color: var(--yee-tag-warning-bg-color);
  --yee-alert-warning-border-color: var(--yee-tag-warning-border-color);
  --yee-alert-danger-icon-color: var(--yee-tag-error-color);
  --yee-alert-danger-bg-color: var(--yee-tag-error-bg-color);
  --yee-alert-danger-border-color: var(--yee-tag-error-border-color);

  /* --Dialog-- */

  --yee-dialog-mask-bg-color: var(--yee-mask-bg-color);
  --yee-dialog-body-bg-color: #ffffff;
  --yee-dialog-title-color: var(--yee-global-font-color);
  --yee-dialog-title-before-bg-color: var(--yee-primary1-color);
  --yee-dialog-confirm-info-color: var(--yee-color-info);
  --yee-dialog-confirm-success-color: var(--yee-color-success);
  --yee-dialog-confirm-warning-color: var(--yee-color-warning);
  --yee-dialog-confirm-error-color: var(--yee-color-error);
  --yee-dialog-content-bg-color: var(--yee-color-bg-elevated);

  --yee-dialog-content-box-shadow-color: rgba(15, 15, 15, 8%);

  /* --Drawer-- */

  --yee-drawer-mask-bg-color: var(--yee-mask-bg-color);
  --yee-drawer-content-bg-color: #ffffff;
  --yee-drawer-title-before-bg-color: var(--yee-primary1-color);
  --yee-drawer-title-color: var(--yee-global-font-color);
  --yee-drawer-footer-border-color: var(--yee-neutral4-color);

  /* --Message-- */

  --yee-message-bg-color: #ffffff;
  --yee-message-info-color: var(--yee-color-info);
  --yee-message-success-color: var(--yee-color-success);
  --yee-message-warning-color: var(--yee-color-warning);
  --yee-message-error-color: var(--yee-color-error);

  /* --Notification-- */

  --yee-notice-icon-color: var(--yee-global-font-color);
  --yee-notice-header-title-color: var(--yee-global-font-color);
  --yee-notice-info-icon-color: var(--yee-tag-info-color);
  --yee-notice-info-bg-color: var(--yee-tag-info-bg-color);
  --yee-notice-info-border-color: var(--yee-tag-info-border-color);
  --yee-notice-success-icon-color: var(--yee-tag-success-color);
  --yee-notice-success-bg-color: var(--yee-tag-success-bg-color);
  --yee-notice-success-border-color: var(--yee-tag-success-border-color);
  --yee-notice-warning-icon-color: var(--yee-tag-warning-color);
  --yee-notice-warning-bg-color: var(--yee-tag-warning-bg-color);
  --yee-notice-warning-border-color: var(--yee-tag-warning-border-color);
  --yee-notice-error-icon-color: var(--yee-tag-error-color);
  --yee-notice-error-bg-color: var(--yee-tag-error-bg-color);
  --yee-notice-error-border-color: var(--yee-tag-error-border-color);
  --yee-notice-description-color: rgba(0, 0, 0, 0.65);

  --yee-notice-close-color: rgba(0, 0, 0, 0.45);

  --yee-notice-close-hover-color: rgba(0, 0, 0, 0.75);

  --yee-notice-box-shadow-color-1: rgba(0, 0, 0, 0.08);

  --yee-notice-box-shadow-color-2: rgba(0, 0, 0, 0.12);

  --yee-notice-box-shadow-color-3: rgba(0, 0, 0, 0.05);

  --yee-notice-box-shadow-hover-color-1: rgba(0, 0, 0, 0.12);

  --yee-notice-box-shadow-hover-color-2: rgba(0, 0, 0, 0.16);

  --yee-notice-box-shadow-hover-color-3: rgba(0, 0, 0, 0.08);

  --yee-notice-bg-color: #fff;

  /* --Popconfirm-- */

  --yee-popconfirm-bg-font-color: var(--yee-color-bg-elevated);

  /* --Progress-- */

  --yee-progress-text-color: var(--yee-global-font-color);
  --yee-progress-not-bg-color: var(--yee-neutral6-color);
  --yee-progress-done-color: var(--yee-primary2-color);
  --yee-progress-default-bg-color: var(--yee-primary1-color);
  --yee-progress-info-color: var(--yee-color-info);
  --yee-progress-success-color: var(--yee-color-success);
  --yee-progress-warning-color: var(--yee-color-warning);
  --yee-progress-error-color: var(--yee-color-error);
  --yee-progress-circle-bg-color: #ffffff;
  --yee-progress-circle-segment-progress-color: var(--yee-primary1-color);
  --yee-progress-circle-segment-done-color: var(--yee-primary2-color);

  /* --Skeleton-- */

  --yee-skeleton-bg-color: rgba(0, 0, 0, 4%);
  --yee-skeleton-border-color: transparent;
  --yee-skeleton-bg-active-color: rgba(0, 0, 0, 8%);

  /* --Spin-- */

  --yee-spin-default-color: var(--yee-primary1-color);
  --yee-spin-info-color: var(--yee-color-info);
  --yee-spin-success-color: var(--yee-color-success);
  --yee-spin-warning-color: var(--yee-color-warning);
  --yee-spin-danger-color: var(--yee-color-error);
  --yee-full-loading-color: var(--yee-primary1-color);
  --yee-full-loading-item-bg-color: #ffffff;
  --yee-full-loading-mask-bg-color: rgba(255, 255, 255, 0.4);

  /* --Selector-- */

  --yee-selector-border-color: var(--yee-color-border);
  --yee-selector-hover-border-color: var(--yee-color-border-hover);
  --yee-selector-focus-border-color: var(--yee-color-primary);
  --yee-selector-disabled-bg-color: var(--yee-input-disabled-bg-color);

  /* --Watermark-- */

  --yee-watermark-color: var(--yee-color-text);

  /* --Descriptions-- */

  --yee-descriptions-color: var(--yee-color-text);
  --yee-descriptions-title-color: var(--yee-color-text);
  --yee-descriptions-extra-color: var(--yee-color-text);
  --yee-descriptions-label-color: var(--yee-color-text-description);
  --yee-descriptions-content-color: var(--yee-color-text);
  --yee-descriptions-border-color: var(--yee-color-split);
  --yee-descriptions-bordered-label-bg: var(--yee-color-fill-quaternary);
}
