@pls: .yee-box;

@{pls} {
  width: fill-available;
  padding: var(--yee-box-padding);
  background-color: var(--yee-box-bg);

  &-header {
    position: fixed;
    top: 0;
  }

  &-footer {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 16%) 0 -8px 16px 0;
    bottom: 0;
  }
}
