.yee-qrcode {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yee-qrcode-bg-color);
  border-radius: 4px;
}

.yee-qrcode-withborder {
  border: 1px solid var(--yee-qrcode-border-color);
}

.yee-qrcode-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background-color: var(--yee-qrcode-mask-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--yee-qrcode-mask-font-color);
  padding: 0 16px;

  .yee-btn-link {
    height: auto;
    margin-top: 8px;
  }

  p {
    text-align: center;
    margin: 0;
  }
}
